{{page-title "Welcome to draggable modifier demo"}}

<h2 id="title">Welcome to draggable modifier demo</h2>

<div class="box" {{draggable panDirection=this.DIRECTION_HORIZONTAL}}>
    horizontal
</div>

<div class="box" {{draggable panDirection=this.DIRECTION_VERTICAL handlePanMove=this.handlePanMove}}>
    vertical
</div>

<div class="box" {{draggable panDirection=this.DIRECTION_ALL handlePanMove=this.handlePanMove}}>
    all
</div>

{{outlet}}
