{{page-title "Dummy"}}
<h2 id="title">Welcome to draggable modifier demo</h2>

<Box @panDirection={{this.DIRECTION_HORIZONTAL}}>
    horizontal
</Box>

<Box @panDirection={{this.DIRECTION_VERTICAL}}>
    vertical
</Box>

<Box @panDirection={{this.DIRECTION_ALL}}>
    all
</Box>

{{outlet}}
